
#big-video-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 40em;
	overflow: hidden
}

#big-video-wrap video {
	left: 0 !important;
	width: 100% !important
}

